/* MAIN FONT PROPERTIES */

.root {
    /* colors */
    accent: #87CA53;
    secondary: #9653CA;
    bordersColor: #D9D9D9;
    dark: #252525;
    /* font */
    -fx-font-family: Arial !important;
    -fx-font-size: 12px;
}

.content > * {
    -fx-text-fill: dark;
    -fx-border-radius: 0;
}

.content__wrapper .label .text {
    -fx-fill-text: #fff;
}

.label.title .text {
    -fx-font-size: 24px;
    -fx-line-height: 39px;
    -fx-font-weight: bold;
    -fx-fill: #fff;
    -fx-margin: 6px 16px;
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: #000;
}

.label-bright {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

/* TABLE */

.table-view {
    -fx-base: #fff;
    -fx-control-inner-background: #fff;
    -fx-background-color: #fff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: secondary;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 16;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-row-cell {
    /* border */
    -fx-border-width: 1;
    -fx-border-color: bordersColor;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:filled {
    -fx-background-color: transparent;
    -fx-border-insets: 0;
}

.table-row-cell:filled:hover {
    -fx-background-color: #d7d7d7;
}

.table-row-cell:filled:selected {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: accent;
}

.table-row-cell:selected {
    -fx-border-color: acccent;
    -fx-selection-bar: accent;
    -fx-selection-bar-non-focused: transparent;
    -fx-text-fill: accent;
    -fx-background-insets: 0;
}

.table-view .table-cell {
    -fx-text-fill: dark;
    -fx-font-family: Arial;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-border-insets: 4 16 6;
}

.table-view .table-row-cell:empty {
    -fx-border-width: 0;
}

.table-view .table-row-cell:focused .table-cel,
.table-view .table-row-cell:selected .table-cell {
    -fx-text-fill: accent;
}

.table-view:row-selection .placeholder .text {
    -fx-font-size: 12;
    -fx-content-display: "abc";
    -fx-fill: dark;
}

.check-box-table-cell > .check-box:selected .box .mark {
    -fx-background-color: transparent;
}

.table-view .placeholder .label {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 3px 16px;
    -fx-line-height: 18px;
    -fx-font-size: 16px;
    -fx-fill-text: #282828;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-padding: 16;
    -fx-cursor: hand;
}

.table-view .column-header .label .text {
    -fx-font-weight: bold;
    -fx-line-height: 18px;
    -fx-font-size: 16px;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #d7d7d7;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button,
.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow,
.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

/* PANE */

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: bordersColor;
    -fx-max-width: 1;
    -fx-pref-width: 1;
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

/* MENU */

.menu-bar {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-padding: 0;
}

.menu-bar .label {
    -fx-padding: 3px 16px;
    -fx-font-size: 14px;
    -fx-line-height: 20px;
    -fx-text-fill: #282828;
}

.menu-bar .label:hover .text {
    -fx-background-color: #D7D7D7;
    -fx-text-fill: #fff;
}

.menu-bar__item .menu {
    -fx-padding: 10px 16px;
    -fx-border-radius: 0;
    -fx-background-color: #fff;
    -fx-font-size: 12px;
    -fx-line-height: 20px;
    -fx-text-fill: #282828;
    -fx-effect: null;
    -fx-margin: 0;
}

.menu:hover,
.menu:focused {
    -fx-background-color: #d7d7d7;
}

.menu-item:hover,
.menu-item:focused {
    -fx-background-color: #d7d7d7;
}

.text-field {
    -fx-font-size: 12px;
    -fx-line-height: 20px;
}

/* SEARCH */

.search-btn {
    -fx-padding: 0;
    -fx-max-width: 43;
    -fx-max-height: 43;
    -fx-border-color: accent;
    -fx-border-width: 1;
}

.search-btn .svg {
    -fx-fill: accent;
}

.search-box {
    -fx-prompt-text-fill: #B6B6B6;
    -fx-border-radius: 0;
    -fx-border-color: bordersColor;
    -fx-border-width: 1;
    -fx-pref-width: 500;
}

.search-box:focused, .search-box:hover {
    -fx-border-color: accent !important;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-border-radius: 0;
}

/* TOP LABEL RIGHT ANCHOR */

.top-label-pane {
    -fx-background-color: accent;
    -fx-padding: 9 32;
}

.top-label-pane.secondary {
    -fx-background-color: secondary !important;
}

.top-label-pane .label {
    -fx-text-fill: white;
}

.top-label-pane .label .text {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

/* GRID PANE */

.grid {
    -fx-padding: 24 32;
    -fx-hgap: 6;
    -fx-vgap: 16;
}

grid .label {
    -fx-text-fill: dark;
}

grid .label .text {
    -fx-font-size: 12;
    -fx-font-family: Arial;
}

.grid-label {
    -fx-font-weight: bold;
}

.grid-label .text {
    -fx-font-family: Arial;
}

/* ORIGIN BOOK */

.vbox {
    -fx-padding: 40 32;
}

.h1-title {
    -fx-padding: 0 0 8 0;
}

.h1-title .text {
    -fx-font-size: 16;
    -fx-text-fill: dark;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}

.book-origin {
    -fx-max-width: 340;
}

/* CONTROL BUTTONS */

.h-box {
    -fx-padding: 16 32 24;
    -fx-hgap: 32;
}

/* BUTTON */

.button {
    -fx-padding: 8px 16px;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-background-color: white;
    -fx-cursor: hand;
}

.button .text {
    -fx-font-size: 12px;
    -fx-line-height: 20px;
    -fx-font-weight: bold;
}

/* CUSTOMIZE */

.button-add {
    -fx-border-color: accent;
}

.button-add .text {
    -fx-fill: accent;
}

.button-edit {
    -fx-border-color: #B6B6B6;
}

.button-edit .text {
    -fx-fill: #B6B6B6;
}

.button-delete {
    -fx-border-color: secondary;
}

.button-delete .text {
    -fx-fill: secondary;
}

.button-menu {
    -fx-padding: 8 32 8 16;
    -fx-border-color: bordersColor;
    -fx-border-width: 1;
}

.button-menu .text {
    -fx-fill: dark;
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

.button-menu-icon {
    -fx-stroke: bordersColor;
    -fx-alignment: center-right;
}

/* HOVER EFFECTS */

.button-add:hover {
    -fx-background-color: accent;
}

.button-add:hover .text {
    -fx-fill: white;
}

.button-edit:hover {
    -fx-background-color: #B6B6B6;
}

.button-edit:hover .text {
    -fx-fill: white;
}

.button-delete:hover {
    -fx-background-color: secondary;
}

.button-delete:hover .text {
    -fx-fill: white;
}

.button-menu {
    -fx-padding: 6;
    -fx-border-width: 0;
    -fx-border-radius: 4;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-alignment: center;
}

.button-menu:hover {
    -fx-background-color: bordersColor;
}

.button-menu-icon {
    -fx-stroke: dark;
}

/* EDITOR */

.edit {
    -fx-border-width: 1;
    -fx-border-color: accent;
}

.edit.edit--secondary {
    -fx-border-color: secondary;
}

.edit__grid {
    -fx-padding: 24 32 16 32;
    -fx-vgap: 8;
}

.edit__input {
    -fx-padding: 8 16;
    -fx-border-color: bordersColor;
    -fx-fill: #B6B6B6;
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.edit__input .text {
    -fx-stroke-width: 0;
}

.edit__input:hover,
.edit__input:focused {
    -fx-border-color: accent;
    -fx-cursor: text;
}

.edit__origin-label {
    -fx-padding: 0 0 12 0;
}

.edit__vbox {
    -fx-padding: 0 32;
}

.edit__area {
    -fx-padding: 8 16;
}

.edit__h-box {
    -fx-content-display: right;
    -fx-display-caret: right;
}

.text-area .content {
    -fx-background-color: white;
}

.text-area:focused .content {
    -fx-background-color: white;
}

.text-area .content .text {
    -fx-stroke-width: 0;
}

/* TOP MENU BAR DECORATED */

.top-close-button {
    -fx-background-color: transparent;
    -fx-max-width: 26;
    -fx-max-height: 26;
    -fx-border-radius: 0;
    -fx-padding: 6;
    -fx-cursor: hand;
}

.top-close-button:hover {
    -fx-background-color: rgba(227, 227, 227, 0.3);
}

/* COMBO-BOX */

.combo-box {
    -fx-padding: 3;
    -fx-prompt-text-fill: dark;
    -fx-cursor: open-hand;

    -fx-border-color: secondary;
    -fx-background-color: transparent;
}

.combo-box .list-cell:filled .text {
    -fx-fill: secondary;
}

.combo-box .arrow {
    -fx-background-color: secondary;
}

.combo-box .arrow-button {
    -fx-background-color: white;
}

.combo-box .list-cell {
    -fx-background-color: white;
}